
/*----MAIN BODY CSS----*/

body, html {
    height: 100%;
    margin: 0; 
    font-size: 1.000em;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/*----END OF MAIN BODY CSS----*/

/*----START OF TEXT CSS-----*/

h2 {
    font-size: 5em;
    font-family: 'Oswald', sans-serif; 
    color: #00A45A;
}

h3 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif; 
    color: #00A45A;
    line-height: normal;
}

p {
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
    line-height: 1.4em;
    color: #00A45A;
}

.intro-text1 {
    font-size: 3em;
    padding-top: 560px;
    text-align: center;
}

.intro-text2 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 1.875em;
    font-family: 'Oswald', sans-serif;
    color: black;
}

/*----END OF TEXT CSS----*/

/*----PARALLEX IMAGE----*/

.pimg1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.pimg1 {
    background-image: url(img/banner6.svg);
    height: 50em;
}


/*----END OF PARALLEX IMAGE----*/


/*----NAV-BAR----*/

.nav {
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
    text-align: right;
    padding-top: 12px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: +1;
    top: 0;
    height: 6.250em;
    background: #fff;
}


.nav-bar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bar {
    background-color: white;
    width: 100%; 
} 

.list-item {
    margin-top: 2.188em;
    display: inline;
}

.logo {
    padding-right: 3.125em;  
}

a {
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    padding-right: 1em; 
    text-decoration:none;
}

a:hover, a:active {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    
}

ul li a{
display: inline-block;
}

.top-logo {
    padding: 0.625em;
    margin-right: 19.7em; 
}

/*----END OF NAV-BAR----*/

/*----ABOUT ME SECTION----*/

.about-section {
    width: 80%;
    max-width: 59.375em;
    margin: auto; 
    padding-top: 2em;
}

#about {
    grid-template-columns: 50% 50%;
    display: grid;   
} 

#about p {
    font-size: 1.6em;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    color: black; 
    
}

.about-illustration {
    margin-top: 8em;
    margin-left: 1em; 
    z-index: -1;
}
    
/*-----END OF ABOUT ME SECTION-----*/

/*-----PORTFOLIO SECTION-----*/

.portfolio-section {
    width: 100%;
    max-width: 59.375em;
    margin: auto; 
    padding-top: 2em;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #00A45A;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.250em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.column1, .column2, .column3, .column4 {
    background-color: #00A45A;
    width: 14.438em;
    height: 34.375em;
    float: left;
    margin-left: 0.188em;
    margin-right: 0.188em;
}

.overlay .text {
    font-size: 1em;
}

.overlay .text p {
    font-size: 0.5em;
    
}

/*-----END OF PORTFOLIO SECTION-----*/


/*-----CONTACT ME SECTION-----*/

.contact-section {
    height: 37.500em;
    width: 100%;
    max-width: 60.000em;
    margin: auto; 
    padding-top: 3.1em;
    line-height: 1.250em; 
}

#contact {
    grid-template-columns: 60% 40%;
    display: grid;
}

.contact-illustration {
    margin-top: 1.563em;
}

.icons{
    display: inline-block;
    padding-right: 0.500em;
    margin-top: 1.875em;
}

.icons a:hover {
    transform: scale(1.5);
    transition: 1.5s;
    
}

.contact-section p {
    font-size: 1.6em;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    color: black;
}

.bordered-images {
    border-style: solid;
    border-width: 0.313em;
    border-color: #00A45A;
}

/*-----END OF CONTACT ME SECTION-----*/

/*-----SCROLL BUTTON CSS-----*/

html{
  scroll-behavior: smooth;
}

section{
  width: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.gotopbtn {
  position: fixed;
  width: 3.125em;
  height: 3.125em;
  bottom: 2.500em;
  right: 3.125em;

  text-decoration: none;
  text-align: center;
  line-height: 3.125em;
  color: white;
  font-size: 1.375em;
}

/*-----END OF SCROLL BUTTON CSS-----*/



/*------INTRO INTO BRANDING-------*/

.intro-section {
    width: 80%;
    max-width: 59.375em;
    margin: auto;
    padding: 3em;
    padding-top: 8em;
}

.intro-section h {
    font-size: 4em;
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
}

.mono-title h {
    font-size: 4em;
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
    margin-top: 6em;
    
}

.intro-section p {
    font-size: 1.5em;
    color: #00A45A;
    font-family: 'Quicksand', sans-serif;
    
}
