
/*----MAIN BODY CSS----*/

body, html {
    height: 100%;
    margin: 0; 
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/*----END OF MAIN BODY CSS----*/

/*----START OF TEXT CSS-----*/

h2 {
    font-size: 5em;
    font-family: 'Oswald', sans-serif; 
    color: #00A45A;
}

h3 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif; 
    color: #00A45A;
    line-height: normal;
}

p {
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
    line-height: 1.4em;
    color: #00A45A;
}

.intro-text1 {
    font-size: 3em;
    padding-top: 500px;
    text-align: center;
}

.intro-text2 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

/*----END OF TEXT CSS----*/

/*----PARALLEX IMAGE----*/

.pimg1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.pimg1 {
    background-image: url(img/banner6.svg);
}


/*----END OF PARALLEX IMAGE----*/


/*----NAV-BAR----*/

.nav {
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
    text-align: right;
    padding-top: 12px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: +1;
    top: 0;
    height: 100px;
    background: #fff;
}


.nav-bar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bar {
    background-color: white;
    width: 100%; 
} 

.list-item {
    margin-top: 35px;
    display: inline;
}

.logo {
    padding-right: 50px  
}

a {
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    padding-right: 1em; 
    text-decoration:none;
}

a:hover, a:active{
    transition: all .5s ease-in-out;
    color:black;
}

.top-logo {
    padding: 10px;
    margin-right: 19.7em; 
}

/*----END OF NAV-BAR----*/

/*----ABOUT ME SECTION----*/

.about-section {
    width: 80%;
    max-width: 950px;
    margin: auto; 
    padding-top: 2em;
}

#about {
    grid-template-columns: 50% 50%;
    display: grid;   
} 

#about p {
    font-size: 1.6em;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    color: #00A45A;   
}

.about-illustration {
    margin-top: 8em;
    margin-left: 1em; 
    z-index: -1;
}
    
/*-----END OF ABOUT ME SECTION-----*/

/*-----PORTFOLIO SECTION-----*/

.portfolio-section {
    width: 100%;
    max-width: 950px;
    margin: auto; 
    padding-top: 2em;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00A45A;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.column1, .column2, .column3, .column4 {
    background-color: #00A45A;
    width: 231px;
    height: 35em;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

/*-----END OF PORTFOLIO SECTION-----*/


/*-----CONTACT ME SECTION-----*/

.contact-section {
    height: 600px;
    width: 100%;
    max-width: 960px;
    margin: auto; 
    padding-top: 2em;
    line-height: 20px; 
}

#contact {
    grid-template-columns: 60% 40%;
    display: grid;
}

.contact-illustration {
    margin-top: 25px;
}

.icons {
    padding-right: 8px;
    margin-top: 30px;
}

.contact-section p {
    font-size: 1.6em;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    color: #00A45A;
}

/*-----END OF CONTACT ME SECTION-----*/

/*-----SCROLL BUTTON CSS-----*/

html{
  scroll-behavior: smooth;
}

section{
  width: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

/*-----END OF SCROLL BUTTON CSS-----*/

