
/*----MAIN BODY CSS----*/

body, html {
    height: 100%;
    max-width: 100%;
    margin: 0; 
    font-size: 1.000em;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/*----END OF MAIN BODY CSS----*/

/*----START OF TEXT CSS-----*/

h2 {
    font-size: 4em;
    font-family: 'Oswald', sans-serif; 
    color: #00A45A;
    margin-left: 1em;
}

h3 {
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif; 
    color: #00A45A;
    line-height: normal;
    margin-left: 0.9em;
}

p {
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
    line-height: 1.4em;
    color: #00A45A;
    margin-left: 1.4em;
}

.intro-text1 {
    font-size: 2.5em;
    padding-top: 520px;
    text-align: center;
    margin-right: 1em;
}

.intro-text2 {
    font-size: 1em;
    text-align: center;
    padding-bottom: 1.875em;
    font-family: 'Oswald', sans-serif;
    color: black;
}

/*----END OF TEXT CSS----*/

/*----PARALLEX IMAGE----*/

.pimg1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.pimg1 {
    background-image: url(img/banner6.svg);
    height: 45em;
}


/*----END OF PARALLEX IMAGE----*/


/*----NAV-BAR----*/

.nav {
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
    text-align: right;
}

.list-div {
    padding-top: 1.250em;
    padding-right: 1.250em;
}

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: +1;
    top: 0;
    height: 3em;
    background: #fff;
    
}

.bar {
    grid-template-columns: 52% 50%;
    display: grid; 
     
}

.bar {
    background-color: white;
    width: 100%; 
} 

.top-logo, .bar nav {
    margin-top: 2px;
    
}

.list-item {
    margin-top: 2.188em;
    display: inline;
}

a {
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    padding-right: 1em; 
    text-decoration:none;
}

a:hover, a:active {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    
}

ul li a{
display: inline-block;
}


/*----END OF NAV-BAR----*/

/*----ABOUT ME SECTION----*/

.about-section {
    width: 100%;
    max-width: 70em;
    margin: auto;
    padding-top: 5em;
}

#about {
    grid-template-columns: 50% 50%;
    display: grid;   
} 

#about p {
    font-size: 1.8em;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    color: black; 
    
}

.about-illustration {
    margin-top: 8em;
    margin-left: 1em; 
    z-index: -1;
}
    
.about-me-title {
    margin-left: 1em;
    
}

.about-me-title {
    margin-left: 1em;
    
}

/*-----END OF ABOUT ME SECTION-----*/

/*-----PORTFOLIO SECTION-----*/

.portfolio-section {
    width: 100%;
    max-width: 70em;
    margin: auto;
    padding-top: 5em;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.8s ease;
  background-color: black;
  
}

.article, .overlay {
    height: 38em;
    width: 16em;
    padding-left: 0em;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 1.250em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.column1, .column2, .column3, .column4 {
    width: 16.1em;
    height: 34.375em;
    float: left;
    margin-left: 0.188em;
    margin-right: 0.188em;
}

.overlay .text {
    font-size: 1em;
}

.overlay .text p {
    font-size: 0.5em;
    
}

#portfolio content {
    text-align: center;
    
}
    #content {
        display: inline-block;
        
    }

/*-----END OF PORTFOLIO SECTION-----*/


/*-----CONTACT ME SECTION-----*/

.contact-section {
    width: 100%;
    max-width: 70em;
    margin: auto; 
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 1.250em; 
}

#contact {
    grid-template-columns: 50% 50%;
    display: grid;
}

.contact-illustration {
    margin-top: 1.563em;
}

.icons{
    display: inline-block;
    padding-right: 0.500em;
    margin-top: 1.875em;
}

.github {
    margin-left: 1.3em;
    
}

.icons a:hover {
    transform: scale(1.5);
    transition: 1.5s;
    
}

.contact-section p {
    font-size: 1.6em;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    color: black;
}

.bordered-images {
    border-style: solid;
    border-width: 0.313em;
    border-color: #00A45A;
}


/*-----END OF CONTACT ME SECTION-----*/

/*-----SCROLL BUTTON CSS-----*/

html{
  scroll-behavior: smooth;
}

section{
  width: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.gotopbtn {
  position: fixed;
  width: 3.125em;
  height: 3.125em;
  bottom: 2.500em;
  right: 3.125em;

  text-decoration: none;
  text-align: center;
  line-height: 3.125em;
  color: white;
  font-size: 1.375em;
}

/*-----END OF SCROLL BUTTON CSS-----*/



/*------INTRO INTO BRANDING-------*/

.intro-section {
    width: 80%;
    max-width: 59.375em;
    margin: auto;
    padding: 3em;
    padding-top: 8em;
}

.intro-section h {
    font-size: 4em;
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
}

.mono-title h {
    font-size: 4em;
    color: #00A45A;
    font-family: 'Oswald', sans-serif;
    margin-top: 6em;
    
}

.intro-section p {
    font-size: 1.5em;
    color: #00A45A;
    font-family: 'Quicksand', sans-serif;
    
}


/*-----MEDIA QUERIES------*/

@media (max-width: 1150px) {
    
/*-----portfolio------*/    

    #portfolio  {
    text-align: center;
    
}
    #content {
        display: inline-block;
        
    }
    .column1, .column2, .column3, .column4 {
    width: 13em;
    height: 14em;
    float: left;
    margin-left: 0.188em;
    margin-right: 0.188em;
}

.article, .overlay {
    width: 13em;
    height: 31em;
    padding-left: 0em;
    
}

.top-logo {
        height: ;
        width: ;
        
        
    }

/*-----aboutme------*/

#about p {
    font-size: 1.5em;
    margin-left: 1em;
    
}

    .about-illustration {
    height: 22em;
    width: 22em; 
        
        
    }
    
.about-section{
    padding-top: 1em;
    
    
    }
    
/*-----contact------*/
    

    #contact h2 h3  {
    margin-left: 1em;
    
    }
    
    .gif {
        height: 25em;
        width: 25em;
        
    }
    
}


@media (max-width: 960px){
    
    /*-----portfolio------*/
    
    a {
    font-size: 1.2em;

}
    .column1, .column2, .column3, .column4 {
    width: 8em;
    height: 10em;
    float: left;
    margin-left: 0.188em;
    margin-right: 0.188em;
}

    .article, .overlay {
    width: 10em;
    height: 24em;
    padding-left: 0em;
    
}
    
.top-logo {
        height: ;
        width: ;
        
        
    }
    
/*-----aboutme------*/
    
    #about p {
        font-size: 1.3em; 
    }
    
    .about-illustration {
    height: 18em;
    width: 18em;
        
    }
    
/*-----contact------*/
    
    .contact-section p {
    font-size: 1.3em;
    margin-left: 1.8em;
        
    }
    
    .github {
    margin-left: 2em;
        
    }
    
    .gif {
    height: 20em;
    width: 20em;
        
    }
    
    .gotopbtn{
    display: none;
        
    }   
}



@media (max-width: 740px){
    
    a {
    font-size: 0.8em;

}
    .about-illustration {
    display: none;
        
    }
    
    .gif {
    display: none;
        
    }
    
    .top-logo {
        height: ;
        width: ;
        
        
    }

/*------portfolio-----*/
    
    .article, .overlay {
    width: 7em;
    height: 16.7em;
    padding-left: 0em;
        
    }
    
    h2 {
    font-size: 2.5em;    
        
        
    }
    
/*------aboutme-------*/
    
    
    #about p {
    font-size: 1.3em;
        
    }
    
    .about-me-title {
    text-align: center;
        
    }
    
    #about {
    grid-template-columns: 95% 5%;
    display: grid;    
        
        
    }
    
/*-----contact------*/
    
    #contact {
    grid-template-columns: 95% 5%;
    display: grid;    
        
        
    }
    
    #contact h2 {
    text-align: center;
        
    }    
        
        
    }
    

@media (max-width: 530px){